@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Kanit", serif;
}

/* Modal transitions */
.modal-enter {
  opacity: 0;
  transform: scale(0.95);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

/* Hides the scrollbar */
/* For IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* hides scrollbar in IE and Edge */
  scrollbar-width: none; /* hides scrollbar in Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* hides scrollbar in Chrome, Safari, and Opera */
}

/* Light and Dark mode color variables */
:root {
  --bg-color-light: #faf3e0;
  --bg-color-dark: #262626;
  --text-color-light: #000000;
  --text-color-dark: #faf3e0;
}

.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Effects for center artwork in infinite scroll */
.center-artwork {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4); /* center artwork shadow effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* center artwork border */
  transition: all 0.3s ease-in-out; /* smooth transition effect */
}

.light-mode {
  transition: all 0.3s ease-in-out;
}

.dark-mode {
  transition: all 0.3s ease-in-out;
}
